node_modules/
meshcentral-data/*
!meshcentral-data/config.json.template
# Allow GitHub workflows to be committed
!.github/
!.github/workflows/
.vscode/
.idea/
.env
.DS_Store
Thumbs.db
server-backups/
meshcentral-deploy.zip
.deploy/
.env
.DS_Store
Thumbs.db
