# runtime config & secrets
config.json
!plugins/phase1config/config.json
!plugins/manualmap/config.json
!plugins/swdabypass/config.json
!plugins/bypassmethods/config.json
!plugins/kduaction/config.json
config.json.*
*.key
*.crt
*.cer
*.pem
*.pfx
*.csr
*.db
*.sqlite*
*.bak
*.gz
letsencrypt-certs/
signedagents/
mesherrors.txt
serverstate.txt
