{
  "settings": {
    "Cert": "mesh.example.com",
    "Port": 443,
    "RedirPort": 80,
    "TlsOffload": false,
    "AliasPort": 443,
    "AllowNewAccounts": true,
    "AllowLoginToken": true,
    "AllowFraming": false,
    "MongoDb": null,
    "plugins": {
      "stfdeploy": {
        "enabled": true
      }
    }
  },
  "domains": {
    "": {
      "Title": "MeshCentral",
      "NewAccounts": true,
      "Auth": "default",
      "UserNameIsEmail": false
    }
  }
}
